In [2]:
import pandas as pd

In [3]:
dev = pd.read_csv('data/common_voice/cv-valid-dev.csv')
train = pd.read_csv('data/common_voice/cv-valid-train.csv')
test = pd.read_csv('data/common_voice/cv-valid-test.csv')

In [4]:
dev.describe()

          up_votes   down_votes  duration
count  4076.000000  4076.000000       0.0
mean      2.692591     0.142542       NaN
std      10.124887     0.688233       NaN
min       1.000000     0.000000       NaN
25%       1.000000     0.000000       NaN
50%       2.000000     0.000000       NaN
75%       3.000000     0.000000       NaN
max     366.000000    21.000000       NaN

In [5]:
train.describe()

            up_votes     down_votes  duration
count  195776.000000  195776.000000       0.0
mean        2.527281       0.150866       NaN
std         7.084358       1.593051       NaN
min         1.000000       0.000000       NaN
25%         1.000000       0.000000       NaN
50%         2.000000       0.000000       NaN
75%         3.000000       0.000000       NaN
max       973.000000     528.000000       NaN

In [6]:
test.describe()

          up_votes   down_votes  duration
count  3995.000000  3995.000000       0.0
mean      2.524406     0.140926       NaN
std       4.987525     0.620477       NaN
min       1.000000     0.000000       NaN
25%       1.000000     0.000000       NaN
50%       2.000000     0.000000       NaN
75%       3.000000     0.000000       NaN
max     254.000000    21.000000       NaN

In [ ]:
pd.read_csv('EmotionLines/Friends/'